body {


    background-color: #ddd;
    font-family:  Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 60%;
    margin: auto;
    padding: 1%;
    
}

header,
footer,
nav {

    background-color: #555;
    color: #eee;
    border-radius: 10px;
    text-align: center;
    border-color: gray;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px;
  
}

nav ul {
    color: #eee;
    margin: auto;
    margin-bottom: 8px;
    display: block;
    padding: 7px 7px;
}

nav ul li {
    margin: auto;
    display: inline;
    color: #eee;
    padding: 15px 15px;
}

nav a {
    color: #ddd;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

main {
   background-color: white;
   border-radius: 10px;
   margin-top: 5px;
   padding: 5px;
}

h2 {
    color: #555;
}

.galery img {
   border-radius: 9px;
   box-shadow: 4px 4px;
   margin: 10px;
}