    
    body {
        background-color: blue;
    }

    @media screen and (max-width: 600px) {
        .galery img {
            width: 95%;
        }
    }

    body {


        background-color: #ddd;
        font-family: Helvetica, sans-serif;
        line-height: 1.5;
        width: 100%;
    }

    header
    {
        text-align: center;
        background-color: #ddd;
        color: #555;
        width: 100%; 
        top: 0; 
    }

    nav {
        background-color: #555;
        color: #eee;
        text-align: center;
        width: 100%;
        top: 0;
        margin-bottom: 0;
    }

    nav ul {
        color: #eee;
        display: block;
        padding: 7px 7px;
        margin: 0;
    }

    nav ul li {
        display: inline;
        color: #eee;
        padding: 15px 15px;
    }

    nav a {
        color: #ddd;
    }

    nav a:link,
    nav a:visited {
        text-decoration: none;
    }

    nav a:hover {
        color: #fff;
    }

    main {
        background-color: white;
        max-width: 60%;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding: 30px 20px 20px 20px;
        width: 50%;
    }

    h2 { 
        color: #555;
    }

    .galery img {
        border-radius: 9px;
        box-shadow: 4px 4px;
        margin: 10px;
    }

    footer {
        color: 555;
        text-align: center;
        padding-top: 20px;
    }